.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--accent-color);
  margin-top: 2rem;
  &-text {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.5rem;
  }
  &-image {
    height: 15rem;
    border-radius: 10rem;
    border: 0.3rem solid var(--accent-color);
    padding: 1rem;
  }
  &-links {
    display: flex;
    gap: 2rem;
    cursor: pointer;
    a {
      color: var(--accent-color);
        svg{
            font-size: 3rem;
        }
    }
  }
}
